body {
	background-color: #aef4ff;
	font-family: 'Montserrat', sans-serif;
}

.titleSplitter {
	width: 200px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 200px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	font-size: 50px;
	font-weight: bold;
}

.splitter_block {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	margin: 50px 200px 100px 200px;
	border-radius: 30px;
	background-color: #fff;
}

.splitter_block--param {
	display: grid;
	grid-template-rows: 1fr 2fr 1fr;
	margin: 30px 0px 30px 30px;
	border-radius: 30px;
}

.splitter_input--bill {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
}

.splitter_block--param--tip {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 2fr;
	margin-top: 30px;
	margin-bottom: 30px;
}

.splitter-param-tip-buttons {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
	grid-template-rows: 1fr 1fr;
}

.splitter-param-people {
	display: grid;
	grid-template-columns: [col-1] 1fr [col-2] 1fr [col-3];
	grid-template-rows: [row-1] 1fr [row-2] 1fr;
}

.peopleValue {
	grid-column-start: col-1;
	grid-column-end: col-3;
	border-color: red;
}

.splitter_title--alert {
	color: red;
}

.noalert {
	color: black;
	border-color: white;
}

.splitter_block--score {
	display: block;
	margin: 30px 30px 30px 0px;
	border-radius: 30px;
	background-color: hsl(183, 100%, 15%);
}

.splitter-score-col {
	display: grid;
	margin: 30px;
	align-items: center;
	text-align: left;
	grid-template-columns: 1fr 1fr;
}

.splitter-score-col-tip {
	text-align: right;
}

.splitter-score-col-tip-price {
	height: max-content;
	color: hsl(172, 67%, 45%);
	font-weight: bold;
}

.splitter-score-col-total {
	text-align: right;
}

.splitter-score-col-total-price {
	height: max-content;
	color: hsl(172, 67%, 45%);
	font-weight: bold;
}

.splitter-score-footer {
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 100px;
	width: auto;
}

.button-reset {
	width: 100%;
	height: 50px;
	background-color: #aef4ff;
	font-weight: bold;
	text-transform: uppercase;
}

.button--tip {
	background-color: hsl(183, 100%, 15%);
	color: hsl(0, 0%, 100%);
	font-weight: bold;
}
.button--tip.clicked {
	background-color: hsl(172, 67%, 45%);
	color: hsl(183, 100%, 15%);
	font-weight: bold;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
